
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<div class="navbar">
    <p  style = "margin-top:10px;font-size:18px;color:white;"> Welcome, {{getUser}} !</p>
  <div class="dropdown">
    <button class="dropbtn"  >View 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <button class="btn1" (click)="listView()"><i class="fa fa-bars"></i> List</button>
      <button class="btn2" (click)="gridView()"><i class="fa fa-th-large"></i> Grid</button>
    </div>
  </div> 
  <a class = "a" href="#logout" routerLink = "/login">Logout</a>
</div>

<!----<button routerLink = '/adFile' >go</button>-->

<br><br>

<!----<div id="btnContainer">
  <button class="btn1" (click)="listView()"><i class="fa fa-bars"></i> List</button> 
  <button class="btn2" (click)="gridView()"><i class="fa fa-th-large"></i> Grid</button>
</div>-->


<div id = "div1" *ngFor = "let t of array1" >
    <button routerLink = '/filUpload' id = "arrayBtn" class = "route1"  style = "outline:none; border:none; cursor: pointer; margin-top:20px; margin-left:20px; height :30px ;  width:90px; background-color:#d1dade;">{{t}}</button>
</div>

<div id = "div2" >
    <button class = "folder" id = "fold" (click) = "myFunction1()" name = "button1" class = "btn" style = "outline:none;"> <i class="fa fa-folder"></i>  Add folder </button> <br/><br/>
</div>


<div id = "route" routerLink = '/filUpload' ></div>   

<p id = "folder" style = "color:#9e9c96;margin-left:20px;margin-top:80px;">No folders created</p>


<!--style to be added to button style = "margin-left:20px; width:80px; height:80px; border-style: dotted; background-color:#d1dade"-->


