


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<ul>
    <li><a href="#logout" routerLink = "/login">Logout</a></li>  
    <li  style = "margin-right:1020px; margin-top:12px;font-size:18px;color:white;"> Welcome, {{getUser}} !</li>
</ul>

<br><br>

<button (click) = "myFunction()" name = "button1" class = "btn" style = "margin-left:20px; width:80px; height:80px; background-color:#d1dade"> <i class="fa fa-folder"></i>  Add folder </button> <br/><br/>
<div id = "route" routerLink = '/filUpload' ></div>
<p id = "folder" style = "color:#9e9c96;margin-left:20px;">No folders created</p>


<!--<div *ngIf = "comment"></div>
<button >
<p id="demo"></p>
</button>-->





