  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #22ab29;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 10px;
    color : white;
    font-size:20px;
  }

   .dragZone, .dropZone
  {
      height : 200px;
      width : 200px;
      border: 1px solid black;
      float : left;
      margin-top  : 15px;
      margin-left : 20px;
  }

  .block
  {
      display:block;
  }  


#div1, #div2, #div3 {
  float: left;
  width: 300px;
  height: 195px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

  