<ul>
    <li><a href="#logout" routerLink = "/login">Logout</a></li>  
</ul>

  <div  id="div1" (drop)="drop($event)" (dragover)="allowDrop($event)"> 
        <img src = "https://yt3.ggpht.com/a/AGF-l7-BBIcC888A2qYc3rB44rST01IEYDG3uzbU_A=s900-c-k-c0xffffffff-no-rj-mo" draggable="true" (dragstart)="drag($event)" id="drag1" width="88px" height="31px">
        <img src = "https://yt3.ggpht.com/a/AGF-l7-BBIcC888A2qYc3rB44rST01IEYDG3uzbU_A=s900-c-k-c0xffffffff-no-rj-mo" draggable="true" (dragstart)="drag($event)" id="drag2" width="88px" height="31px">
        <img src = "https://yt3.ggpht.com/a/AGF-l7-BBIcC888A2qYc3rB44rST01IEYDG3uzbU_A=s900-c-k-c0xffffffff-no-rj-mo" draggable="true" (dragstart)="drag($event)" id="drag3" width="88px" height="31px">
        <img src = "https://yt3.ggpht.com/a/AGF-l7-BBIcC888A2qYc3rB44rST01IEYDG3uzbU_A=s900-c-k-c0xffffffff-no-rj-mo" draggable="true" (dragstart)="drag($event)" id="drag4" width="88px" height="31px">
        <img src = "https://yt3.ggpht.com/a/AGF-l7-BBIcC888A2qYc3rB44rST01IEYDG3uzbU_A=s900-c-k-c0xffffffff-no-rj-mo" draggable="true" (dragstart)="drag($event)" id="drag5" width="88px" height="31px">
        <img src = "https://yt3.ggpht.com/a/AGF-l7-BBIcC888A2qYc3rB44rST01IEYDG3uzbU_A=s900-c-k-c0xffffffff-no-rj-mo" draggable="true" (dragstart)="drag($event)" id="drag6" width="88px" height="31px">
  </div>
  
  <div id="div2" (drop)="drop($event)" (dragover)="allowDrop($event)" style = "display:block"> </div>

  <div id="div3" (drop)="drop($event)" (dragover)="allowDrop($event)" style = "display:block"> </div>


  <button routerLink = "/filUpload" style = "margin-top:250px; margin-left:0px"> File Upload</button>


              


